{
  "$schema": "https://json.schemastore.org/stylelintrc.json",
  "root": true,
  "plugins": ["stylelint-order", "stylelint-prettier", "stylelint-less"],
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "customSyntax": "postcss-less",
  "defaultSeverity": "warning",
  "rules": {
    "prettier/prettier": true,
    "block-no-empty": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ],
    "order/properties-order": [
      "position",
      "float",
      "left",
      "top",
      "right",
      "bottom",
      "overflow",
      "overflow-x",
      "overflow-y",
      "clear",
      "visibility",
      "z-index",
      "justify-content",
      "align-items",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-right",
      "margin-bottom",
      "margin-left",
      "padding",
      "padding-top",
      "padding-right",
      "padding-bottom",
      "padding-left",
      "border",
      "border-style",
      "border-width",
      "border-color",
      "border-top",
      "border-top-style",
      "border-top-width",
      "border-top-color",
      "border-right",
      "border-right-style",
      "border-right-width",
      "border-right-color",
      "border-bottom",
      "border-bottom-style",
      "border-bottom-width",
      "border-bottom-color",
      "border-left",
      "border-left-style",
      "border-left-width",
      "border-left-color",
      "border-radius",
      "background",
      "background-position",
      "background-repeat",
      "background-size",
      "background-color",
      "background-clip",
      "color",
      "font-size",
      "font-family",
      "font-weight",
      "text-decoration",
      "text-align",
      "text-justify",
      "text-indent",
      "text-overflow",
      "vertical-align",
      "white-space",
      "opacity",
      "filter",
      "list-style",
      "outline",
      "box-shadow",
      "text-shadow",
      "resize",
      "transition"
    ]
  }
}
